body, table {
    background-color: black;
    border: 1px solid white;
    color: white;
}

.summary table {
    background-color: rgb(128, 58, 7);
}

.summary tr, .summary td {
    background-color: rgba(128, 58, 7);
}

.summary {
    margin-left: 50px;
}

tr, td {
    background-color: black;
    color: white;
}

input, option, button, textarea, select {
    background-color: lightgrey;
}

label {
    float: right;
}

input, select {
    float: left;
}