:root{
 --mainBlue:#153add;
 --mainGreen:#0f5c16;
 --lightBlue:#009ffd;
 --mainWhite:#f3f3f3;
 --mainDark:#e21717;
 --mainYellow:#ffa400;
}
body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}
